body {
  max-width: 680px;
  margin: 40px auto;
  padding: 0 10px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

p {
  line-height: 1.5;
}

#outline {
    list-style: none;
    margin-bottom: 0px;
}

#outline > li a {
    text-decoration: none;
}

#outline > li p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.published {
    margin: 15px;
    margin-top: 0px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #444;
  }

  a:link {
    color: #5bf;
  }

  a:visited {
    color: #ccf;
  }
}

#about-page{
    float: right;
    text-decoration: none;
}

/* When the width is between 600px and 900px OR above 1100px - change the appearance of <div> */
@media screen and (max-width: 400px) and (min-width: 100px){
    pre.src {
        position: relative;
        overflow: auto;
        padding-top: 1.2em;
    }
}
